.presentation .CodeMirror {
  position: relative;
  overflow: hidden;
  background: #fafafa;
  height: auto;
  font-size: 1.4rem;
}
.presentation .spectacle-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100% !important;
}

.presentation h1{
  font-size: 4rem !important;
}
